In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
plt.style.use('seaborn-colorblind')
%matplotlib inline

In [2]:
use_cols = [
    'Pclass', 'Sex', 'Age', 'Fare', 'SibSp',
    'Survived'
]

data = pd.read_csv('./data/titanic.csv', usecols=use_cols)
print(data.shape)
data.head(8)

(891, 6)

   Survived  Pclass     Sex   Age  SibSp     Fare
0         0       3    male  22.0      1   7.2500
1         1       1  female  38.0      1  71.2833
2         1       3  female  26.0      0   7.9250
3         1       1  female  35.0      1  53.1000
4         0       3    male  35.0      0   8.0500
5         0       3    male   NaN      0   8.4583
6         0       1    male  54.0      0  51.8625
7         0       3    male   2.0      3  21.0750

In [24]:
def check_missing(data,output_path = None):
    """
    check the total number & percentage of missing values
    per variable of a pandas Dataframe
    """
    
    result = pd.concat([data.isnull().sum(),data.isnull().mean()],axis = 1)
    result = result.rename(index = str,columns = {0 : 'Total Missing',1 : 'Propotion'})
    if output_path is not None:
        result.to_csv(output_path+'missing.csv')
        print('result Saved at',output_path,'missing.csv')
    return result

In [25]:
check_missing(data,output_path=r'./output/')

result Saved at ./output/ missing.csv

          Total Missing  Propotion
Survived              0   0.000000
Pclass                0   0.000000
Sex                   0   0.000000
Age                 177   0.198653
SibSp                 0   0.000000
Fare                  0   0.000000

In [33]:
def drop_missing(data,axis = 0):
    """
    Listwise deletion:
    excluding all cases (listwise) that have missing values
    Parameters
    ----------
    axis: drop cases(0)/columns(1),default 0
    Returns
    ------
    Pandas dataframe with missing cases/columns dropped
    """
    data_copy = data.copy(deep = True)
    data_copy = data_copy.dropna(axis = axis,inplace = False)
    return data_copy

### Listwise deletion

In [35]:
# 177 cases which has NA has been dropped
data2 = drop_missing(data)
data2.shape

(714, 6)

### Add a variable to denote NA
#### creating an additional variable indicating whether the data was missing for that observation