In [24]:
import pandas as pd
import numpy as np

In [25]:
use_cols = [
    'Pclass','Sex','Age', 'Fare', 'SibSp',
    'Survived'
]

data = pd.read_csv('data/titanic.csv', usecols=use_cols)

In [26]:
data.head(5)

   Survived  Pclass     Sex   Age  SibSp     Fare
0         0       3    male  22.0      1   7.2500
1         1       1  female  38.0      1  71.2833
2         1       3  female  26.0      0   7.9250
3         1       1  female  35.0      1  53.1000
4         0       3    male  35.0      0   8.0500

In [31]:
def get_dtypes(data,drop_col = []):

    """
    Return the dtypes for each column of a pandas Dataframe
    Parameters
    ----------
    data : pandas Dataframe
    drop_col : columns to omit in a list
    Returns
    -------
    str_var_list, num_var_list, all_var_list
    """
    name_of_col = list(data.columns)
    str_var_list = []
    num_var_list = []
    all_var_list = []
    
    str_var_list = name_of_col.copy() # we have take first only the entire copy of list,then we can remove the elements
    for var in name_of_col:
        if (data[var].dtypes in (np.int, np.int64, np.uint, np.int32, np.float, np.float64, np.float32, np.double)):
            str_var_list.remove(var)
            num_var_list.append(var)
          
    for var in drop_col:
        if var in str_var_list:
            str_var_list.remove(var)
        
        if var in num_var_list:
            num_var_list.remove(var)
            
    all_var_list.extend(str_var_list)
    all_var_list.extend(num_var_list)
    
    return str_var_list, num_var_list, all_var_list

In [32]:
str_var_list, num_var_list, all_var_list = get_dtypes(data=data)
print(str_var_list) # String type
print(num_var_list) # Numeric type
print(all_var_list) # All

['Sex']
['Survived', 'Pclass', 'Age', 'SibSp', 'Fare']
['Sex', 'Survived', 'Pclass', 'Age', 'SibSp', 'Fare']

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Fare      891 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 41.9+ KB